# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Virtual Environment
venv/

# Processed Dataset
data/processed/clean_data.csv

# EDA Images
app/static/images/eda/