<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Hasil EDA</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style>

        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 30px;
        }

        h1{
            text-align: center;
            margin-bottom: 40px;
        }

        .container{
            max-width: 1200px;
            margin: auto;
        }

        .card{
            background-color: white;
            padding: 20px;
            margin-bottom: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }

        h2{
            margin-bottom: 20px;
        }

        .chart{
            width: 100%;
            height: 500px;
        }

    </style>

</head>

<body>

<div class="container">

    <h1>
        Exploratory Data Analysis (EDA)
    </h1>

    <div class="card">

        <h2>Distribusi Recency</h2>

        <div id="recencyChart"
             class="chart">
        </div>

    </div>

    <div class="card">

        <h2>Distribusi Frequency</h2>

        <div id="frequencyChart"
             class="chart">
        </div>

    </div>

    <div class="card">

        <h2>Distribusi Monetary</h2>

        <div id="monetaryChart"
             class="chart">
        </div>

    </div>

    <div class="card">

        <h2>Correlation Heatmap RFM</h2>

        <div id="heatmapChart"
             class="chart">
        </div>

    </div>

</div>

<script>

    // =====================================
    // DATA DARI FLASK
    // =====================================

    const recencyLabels =
    JSON.parse('{{ recency_labels | tojson | safe }}');

    const recencyCounts =
    JSON.parse('{{ recency_counts | tojson | safe }}');

    const frequencyLabels =
        JSON.parse('{{ frequency_labels | tojson | safe }}');

    const frequencyCounts =
        JSON.parse('{{ frequency_counts | tojson | safe }}');

    const monetaryLabels =
        JSON.parse('{{ monetary_labels | tojson | safe }}');

    const monetaryCounts =
        JSON.parse('{{ monetary_counts | tojson | safe }}');

    const correlationMatrix =
        JSON.parse('{{ correlation | tojson | safe }}');

    // =====================================
    // RECENCY
    // =====================================

    Plotly.newPlot(

    'recencyChart',

    [
        {
            x: [

                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7

            ],

            y: recencyCounts,

            type: 'bar',

            text: recencyCounts,

            textposition: 'outside'
        }
    ],

    {

        title: 'Distribusi Recency',

        xaxis: {

            title:
            'Hari Setelah Pembelian Terakhir',

            tickmode: 'array',

            tickvals: [

                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7

            ],

            ticktext: recencyLabels

        },

        yaxis: {

            title:
            'Jumlah Customer',

            tickmode: 'array',

            tickvals: [
                0,
                20,
                40,
                60,
                80
            ]

        }

    }

)

    // =====================================
    // FREQUENCY
    // =====================================

    Plotly.newPlot(

        'frequencyChart',

        [
            {
                x: frequencyLabels,

                y: frequencyCounts,

                type: 'bar',

                text: frequencyCounts,

                textposition: 'outside'
            }
        ],

        {
            title: 'Distribusi Frequency',

            xaxis: {

                title:
                'Jumlah Pembelian'
            },

            yaxis: {

                title:
                'Jumlah Customer',

                tickmode: 'array',

                tickvals: [
                    0,
                    20,
                    40,
                    60,
                    80,
                    100,
                    120,
                    140,
                    160
                ]
            }
        }
    )

    // =====================================
    // MONETARY
    // =====================================

    Plotly.newPlot(

        'monetaryChart',

        [
            {
                x: monetaryLabels,

                y: monetaryCounts,

                type: 'bar',

                text: monetaryCounts,

                textposition: 'outside'
            }
        ],

        {
            title: 'Distribusi Monetary',

            xaxis: {

                title:
                'Total Pengeluaran',

                tickangle: -20
            },

            yaxis: {

                title:
                'Jumlah Customer',

                tickmode: 'array',

                tickvals: [
                    0,
                    20,
                    40,
                    60,
                    80,
                    100,
                    120,
                    140,
                    160
                ]
            }
        }
    )

    // =====================================
    // HEATMAP
    // =====================================

    Plotly.newPlot(

        'heatmapChart',

        [
            {

                z: [

                    [
                        correlationMatrix[2][0],
                        correlationMatrix[2][1],
                        correlationMatrix[2][2]
                    ],

                    [
                        correlationMatrix[1][0],
                        correlationMatrix[1][1],
                        correlationMatrix[1][2]
                    ],

                    [
                        correlationMatrix[0][0],
                        correlationMatrix[0][1],
                        correlationMatrix[0][2]
                    ]

                ],

                x: [
                    'Recency',
                    'Frequency',
                    'Monetary'
                ],

                y: [
                    'Monetary',
                    'Frequency',
                    'Recency'
                ],

                type: 'heatmap',

                zmin: -0.2,

                zmax: 1,

                colorbar: {

                    title:
                    'Correlation'

                },

                text: [

                    [
                        correlationMatrix[2][0],
                        correlationMatrix[2][1],
                        correlationMatrix[2][2]
                    ],

                    [
                        correlationMatrix[1][0],
                        correlationMatrix[1][1],
                        correlationMatrix[1][2]
                    ],

                    [
                        correlationMatrix[0][0],
                        correlationMatrix[0][1],
                        correlationMatrix[0][2]
                    ]

                ],

                texttemplate: "%{text}",

                textfont: {

                    size: 16,

                    color: "black"
                }

            }
        ],

        {
            title:
            'Correlation Heatmap RFM'
        }

    )

</script>

</body>
</html>